/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
.ecae-image{width:100%!important;}
.search-box .search-field{min-width:100%;}
.site{margin:auto}
.header-main{padding-bottom:15px;}
.header-main:after{content:'';display:block;clear:both;}
.site-title{background:url('https://www.getgoingnc.com/wp-content/uploads/GGNC_logo.png') no-repeat top center;width:150px;height:120px;font-size:0px;position:relative;}
.site-title:after{content:'Explore the Outdoors, Discover Yourself.';position:absolute;left:0px;top:90px;font-size:20px;display:block;white-space:nowrap;}
.home .site-content > article > .entry-content{max-width:100%;margin:0px;padding:0px;}
.home a{text-decoration:none;}
.home .entry-content .edit-link{clear:none;display:inline;}
.post-thumbnail{background:none;padding:0px 30px;}
.entry-content article{margin-bottom:40px!important}
.featured-content-inner .post-thumbnail{padding:55.357142857% 0px 0px 0px;}
.footer-sidebar .widget{width:100%;float:none;clear:both;}
.footer-sidebar .widget.widget_black_studio_tinymce{text-align:center;}
.footer-sidebar .widget.widget_black_studio_tinymce a{display:inline-blocl;margin:5px;}
.featured-content .post-thumbnail, .featured-content .post-thumbnail:hover {background: #FFF;}
.site-title a{width:100%;height:100%;}
#secondary{display:none;}
.featured-content{padding-left:0px !important}
a.post-thumbnail:hover{background:none;}
/* Removes The Left Sidebar */
.site:before{display:none !important;}
.hentry{margin: 0 auto!important;max-width: 100% !important;width:580px;}
.content-area{width:70%!important}
.site-content{width:100%;margin-left:0px!important;margin-right:0px!important}
.site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content .entry-meta, .page-content{max-width:100%!important;}
.archive-header, .comments-area, .image-navigation, .page-header, .page-content, .post-navigation, .site-content .entry-header, .site-content .entry-content, .site-content .entry-summary, .site-content footer.entry-meta{margin-right:0px;}
@media screen and (max-width: 673px){
.content-area{width:100%!important;}
}
/* Removes The Left Sidebar */
@media screen and (max-width:782px){
#primary-navigation{clear:both;}
.site-title{height:130px;width: 100%;text-align: center;}
.site-title:after{position:relative;left:0px;top:-20px;}
}