/*
Theme name: Get Going NC - Twenty Fourteen Child Theme
Theme URI: https://bitbucket.org/AXeNaqvi/get-going-nc/src/master/
Template: twentyfourteen
Template Version: 2.7
Author: AZ Naqvi
Author URI: https://bitbucket.org/AXeNaqvi/
Description: Child theme for Get Going NC based on Twenty Fourteen.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, news, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, footer-widgets, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

*/
.woocommerce-page .site-content{box-sizing:border-box;padding:0px 60px;}
.woocommerce-page .site-content.twentyfourteen{padding:0px;}
.woocommerce-page .content-area{width:100%!important;box-sizing:border-box;}
.woocommerce-page .twentyfourteen .tfwc{width:100%;max-width:100%;box-sizing:border-box;padding:0px;}
.woocommerce ul.products li.product{border:1px solid rgba(0,0,0,0.1);padding:10px;box-sizing:border-box;border-radius:5px;text-align:center}
.woocommerce ul.products li.product:hover{box-shadow:4px 4px 5px rgba(0,0,0,0.1)}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title{text-align:justify}
.woocommerce ul.products li.product .woocommerce-Price-amount.amount{font-weight:600;font-size:22px;}
.woocommerce ul.products li.product a img{min-height:150px;}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{background-color:#24890d}
.woocommerce-info{border-top-color:#24890d}
.woocommerce-info::before{color:#24890d}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{background-color:#41a62a;}
.woocommerce-page.full-width .hentry{width:100%;}
.woocommerce-page .entry-header, .woocommerce-page .entry-content{padding-right:0px!important;padding-left:0px!important;}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{box-sizing:border-box;}
.axe-woo-nav{float:right}
.axe-woo-nav ul{margin:0px;}
.axe-woo-nav ul::after{content:'';display:block;float:none;clear:both}
.axe-woo-nav ul li{list-style:none;display:inline-block;margin:0px;overflow:hidden;width:48px;height:48px;position:relative;text-align:center;float:left;}
.axe-woo-nav ul li a{display:block;position:absolute;z-index:1;top:0px;left:0px;width:100%;height:100%;color:transparent;font-size:0px;}
.axe-woo-nav ul li:before{font-size:22px;line-height:48px;}
.axe-woo-nav ul li:hover,.axe-woo-nav ul li.current-menu-item{background-color:#41a62a;}
.axe-woo-nav ul li:hover::before,.axe-woo-nav ul li.current-menu-item::before{color:#FFF;}
.axe-woo-nav ul li,.axe-woo-nav ul li::before{transition:all 0.3s}
.dashicon{font-family: dashicons;}
.woocommerce-MyAccount-navigation ul{margin-left:0px;border:1px solid rgba(0,0,0,.1);padding:10px;border-radius:5px;}
.woocommerce-MyAccount-navigation ul li{list-style:none}
.woocommerce-MyAccount-navigation ul li a{display:block;text-decoration:none;padding:5px 10px;text-transform:capitalize;}
.woocommerce-MyAccount-navigation ul li a:hover{color:#FFF;background:#41a62a}
.axe-woo-content > #primary{padding-top:50px!important;}
.axe-woo-content > #primary .content-area{padding-top:0px!important;}
.search-toggle{margin-right:0px!important}
.header-main{position:relative;}
.header-main .axe-top-nav{position:absolute;top:0px;right:0px;}

/* Responsive */
@media screen and (max-width:778px){
    .site-title{float:none!important;max-width:100%!important;}
    .site-title::after{white-space:normal!important;line-height:30px!important;}
    .header-main{padding-top:63px!important;}
    .header-main .axe-top-nav{right:48px;}
    .woocommerce-page .site-content{padding:0px 3%}
}